/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum viewport height */
    background: linear-gradient(to right, #f2f2f2, #ddd); /* Simple linear gradient background */
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    animation: fadeIn 0.5s ease-in-out; /* Add fade-in animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Login form styles */
  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .login-button {
    background-color: #333; /* Dark gray background for buttons */
    color: #fff; /* White text color */
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Indicate clickable element */
    transition: all 0.2s ease-in-out; /* Add hover effect */
    margin-bottom: 1rem;
    display: block; /* Display buttons as blocks */
    width: 100%; /* Make buttons full width */
  }
  
  .login-button:hover {
    background-color: #222; /* Darker gray on hover */
  }
  
  form {
    display: flex; /* Arrange form elements in a row */
    flex-direction: column;
    gap: 0.5rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 3px;
    outline: none; /* Remove default outline */
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  a {
    color: #333; /* Dark gray for links */
    text-decoration: none; /* Remove underline */
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    color: #222; /* Darker gray on hover */
  }
  
  /* Animate.css integration (optional) */
  .animate__animated.animate__bounce {
    animation-duration: 1s !important; /* Adjust animation duration as desired */
  }
  